<!DOCTYPE html>
<html  lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Usuários</title>
</head>
<body>
    <h1>Usuários</h1>
    <a th:href="@{/usuarios/novo}">Novo Usuário</a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.id}"></td>
            <td th:text="${usuario.nome}"></td>
            <td th:text="${usuario.email}"></td>
            <td>
                <a th:href="@{/usuarios/editar/{id}(id=${usuario.id})}">Editar</a>
                <a th:href="@{/usuarios/excluir/{id}(id=${usuario.id})}">Excluir</a>
            </td>
        </tr>
    </table>
</body>
</html>
